html {
  height:100%;
}

body {
background: #ff9068;
background: -webkit-linear-gradient(45deg, #fd746c, #ff9068);
background: linear-gradient(45deg, #fd746c, #ff9068);
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
color: #2E2E2E;
}

.color-white {
  color:white;
}

.bg-white {
  background-color:white;
  border-radius:7px;
}

.form-control.btn-main {
  background: #70C1B3;
  color:white;
  font-size: 22px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  border: 0;
  border-bottom: 2px solid #5ba094;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #5ba094;
  box-shadow: inset 0 -2px #5ba094;
  height: 54px;
}

.btn-secondary {
  background: #70C1B3;
  color:white;
  font-size: 22px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  border: 0;
  border-bottom: 2px solid #5ba094;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #5ba094;
  box-shadow: inset 0 -2px #5ba094;
  height: 54px;
  margin-bottom: 25px;
  display: block;
  width: 100%;
  padding: 6px 12px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.btn-secondary:first-child{
  margin-top:25px;
}

.form-control {
  height: 50px;
  margin-bottom: 25px;
  font-size:16px;
}

.welcome {
  font-weight:100;
  font-size: 45px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.welcome span {
  font-weight:bold;
}

.log-in {
  font-weight:200;
}

a:focus, a:hover {
  color: #507384;
  text-decoration: none;
}
