<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-12 text-center bg-white">
      <h1 class="log-in">Please Sign Up</h1>
      <div>
        <form method="POST" action="/signup">
          <input type="email" name="email" class="form-control" placeholder="What's your email?" aria-describedby="sizing-addon2" required>
          <input type="text" name="username" class="form-control" placeholder="Choose a username" aria-describedby="sizing-addon2" required>
          <input type="password" name="password" class="form-control" placeholder="Choose a Password" aria-describedby="sizing-addon2" required>
          <input type="submit" class="form-control text-center btn-main" value="Sign me up!" aria-describedby="sizing-addon2">
        </form>
      </div>
      <p>Already have an account? <a href="/">Log In</a></p>
    </div>
  </div>
</div>
</div>
