<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-12 text-center bg-white">
      <div>
        <h1 class="log-in">Create your todo</h1>
        <form method="POST" action="/todos">
          <input type="text" name="content" class="form-control" placeholder="Type todo here!" aria-describedby="sizing-addon2" required>
          <input type="submit" class="form-control text-center btn-main" value="Submit!" aria-describedby="sizing-addon2">
        </form>
      </div>
    </div>
  </div>
</div>
