<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-12 bg-white">
      <div>
        <h1 class="log-in text-center">Edit your todo</h1>
        <form method="POST" action="/todos/<%=@todo.id%>">
          <input type="hidden" name="_method" value="PATCH">
          <input type="text" name="content" class="form-control" placeholder="What's your username?" aria-describedby="sizing-addon2" required value="<%=@todo.content%>">
          <input type="submit" class="form-control text-center btn-main" value="Submit Edit!" aria-describedby="sizing-addon2">
        </form>

        <form method="POST" action="/todo/<%=@todo.id%>/delete">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" class="form-control text-center btn-delete btn-main" value="Delete todo!" aria-describedby="sizing-addon2">
        </form>
      </div>
    </div>
  </div>
</div>
