<div>
  <!-- <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="welcome color-white">Welcome to the <span>todo</span> app!</h1>
      </div>
    </div>
  </div> -->
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 col-sm-12 text-center bg-white">
        <h1 class="log-in">Please Log In</h1>
        <div>
          <form method="POST" action="/login">
            <input type="text" name="username" class="form-control" placeholder="What's your username?" aria-describedby="sizing-addon2" required>
            <input type="password" name="password" class="form-control" placeholder="Password" aria-describedby="sizing-addon2" required>
            <input type="submit" class="form-control text-center btn-main" value="Log me in!" aria-describedby="sizing-addon2">
          </form>
        </div>
        <p>Don't have an account? <a href="/signup">Sign Up</a></p>
      </div>
    </div>
  </div>
</div>
